* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    border: 2px solid red;
}

.square {
    border: 1px solid black;
    flex: 1 0 6.25%;
    aspect-ratio: 1 / 1;
}

.hover {
    background: gray;
}