* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: auto;
}

.column {
    border: 10x solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
}

.row {
    flex: 1;
    border: 1px solid black;
}